<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag "application" %>


<p>Name: <%= @application.name %></p>
<%= image_tag(@application.picture.url, height: '32', width: '32') %> <br />

<p>Applicant Email: <%= @application.email %></p>

<p>Applicant Phone: <%= @application.phone_number %></p>

<p>Applicant Year: <%= @application.year %></p>

<p>Applicant Major: <%= @application.email %></p>

<hr />
<p>Applicant Extracurriculars:</p> <br />
<p> <%= @application.extracurriculars.gsub("\n","<br />").html_safe %></p>
<hr />
<p>Applicant Hobbies:</p> <br />
<p> <%= @application.hobbies.gsub("\n","<br />").html_safe %></p>
<hr />
<p>Why SEP?</p> <br/>
<p> <%= @application.why_sep.gsub("\n","<br />").html_safe %> </p>
<hr />

<p> Short Answer </p>

<ul> 
	<% if @application.short_answer1.length > 0 %>
		<li> <%= @application.short_answer1.gsub("\n","<br />").html_safe %> </li>
	<% end %> 
	<% if @application.short_answer2.length > 0 %>
		<li> <%= @application.short_answer2.gsub("\n","<br />").html_safe %> </li>
	<% end %>
	<% if @application.short_answer3.length > 0 %>
		<li> <%= @application.short_answer3.gsub("\n","<br />").html_safe %> </li>
	<% end %>
	<% if @application.short_answer4.length > 0 %>
		<li> <%= @application.short_answer4.gsub("\n","<br />").html_safe %> </li>
	<% end %>
</ul>

<p> Where did you hear about SEP? </p>
<p> <% @application.reference %> </p>







