<%= wicked_pdf_stylesheet_link_tag "bootstrap" %>


<p>Name: <%= @application.name %></p>
<%= image_tag @application.picture.url %> 

<p>Applicant Email: <%= @application.email %></p>

<p>Applicant Phone: <%= @application.phone_number %></p>

<p>Applicant Year: <%= @application.year %></p>

<p>Applicant Major: <%= @application.email %></p>

<p>Applicant Extracurriculars:</p> <br />
<p> <%= @application.extracurriculars.gsub("\n","<br />").html_safe %></p>

<p>Applicant Hobbies:</p> <br />
<p> <%= @application.hobbies.gsub("\n","<br />").html_safe %></p>

<p>Why SEP?</p> <br/>
<p> <%= @application.why_sep.gsub("\n","<br />").html_safe %> </p>


<p> Short Answer </p>

<ul> 
	<li> <%= @application.short_answer1.gsub("\n","<br />").html_safe %> </li>
	<li> <%= @application.short_answer2.gsub("\n","<br />").html_safe %> </li>
	<li> <%= @application.short_answer3.gsub("\n","<br />").html_safe %> </li>
	<li> <%= @application.short_answer4.gsub("\n","<br />").html_safe %> </li>
</ul>

<p> Where did you hear about SEP? <% @application.reference %> </p>







